
	<p><h1>Hello ,<%= node["https"]["greationg"] %></h1></p>
    <p><h1>This is Practise Chef Node:<%= node['hostname'] %></h1></p>
	<p><h1>We love <%= @site_name %></h1></p>
	<p><h1>Served From :<%= node['ipaddress'] %>:<%= @site_port %></h1></p>